body {
    background: url('/static/single_pages/images/sky.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section {
    margin-bottom: 150px;
}

.card {
    background-color: rgb(255,255,2555); opacity:0.7
}