<!DOCTYPE html>
{% load static %}
{% load socialaccount %}

<html>
    <head>
        <title>{% block head_title %}Blog{% endblock %}</title>
        <link href="{%static 'blog/bootstrap5/css/bootstrap.min.css' %} " rel="stylesheet" media="screen">
        <script src="https://kit.fontawesome.com/a08faffd77.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand" href="/">스마트 부산</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/blog/">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about_me/">About me</a>
                  </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if user.socialaccount_set.first.get_avatar_url %}
                                <img class="rounded-circle" width="25px" src="{{user.socialaccount_set.first.get_avatar_url}}" alt="{{user.username}}">
                            {% else %}
                                <img class="rounded-circle" width="25px" src="https://doitdjango.com/avatar/id/143/e3445497d896a175/svg/{{user.email}}" alt="{{user.username}}">
                            {% endif %}


                            {{user.username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/accounts/logout/">Log Out</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle = "modal" data-bs-target="#loginModal">Log In</a>
                    </li>
                    {% endif %}
                </ul>
              </div>
            </div>
        </nav>
        <!-- Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            Log In
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 d-grid gap-2">
                                <a role="button" class="btn btn-outline-dark btn-sm gap-2" href="{% provider_login_url 'google' %}">
                                    <i class="fa-brands fa-google"></i>
                                    Log in with google
                                </a>
                                <a role=="button" class="btn btn-outline-dark btn-sm" href="/accounts/login/">
                                    <i class="fa-solid fa-user"></i>
                                    Log in with username
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-12 d-grid gap-2">
                                <a role="button" class="btn btn-outline-dark btn-sm gap-2" href="/accounts/signup/">
                                    <i class="fa-solid fa-envelope"></i>
                                    Sign up with E-mail
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </body>
