{% extends 'blog/base.html' %}
{% block head_title %}
    {{post.title}} | Blog
{% endblock %}
{% block main_area %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row" id='main-area'>
                <div class="col-lg-12" id='post-area'>
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                            <!-- Post categories-->
                            {% if post.category %}
                            <a class="badge bg-secondary float-end" href="#!">{{post.category}}</a>
                            {% else %}
                            <a class="badge bg-secondary float-end" href="#!">미분류</a>
                            {% endif %}
                            <h6 class="text_muted">{{post.hook_text}}</h6>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2"> Posted on {{post.created_at}} by {{post.author | upper}} </div>

                        <hr/>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4">
                            {% if post.head_image %}
                            <img class="img-fluid rounded" src="{{post.head_image.url}}" alt="{{post.title}}"  /></figure>
                            {% else %}
                            <img class="img-fluid rounded" src="http://picsum.photos/seed/{{post.id}}/600/200" alt="{{post.title}}" /></figure>
                            {% endif %}
                        <!-- Post content-->
                        <section class="mb-5">
                            <p>
                                {{post.content}}
                            </p>
                            {% if post.tags.exists %}
                                <i class="fa-solid fa-tags"></i>
                                {% for tag in post.tags.iterator %}
                                    <a href="{{tag.get_absolute_url}}"><span class="badge bg-light text-dark">{{tag}}</span></a>
                                {% endfor %}
                                <br/>
                                <br/>
                            {% endif %}
                            {% if post.file_upload %}
                            <a href="{{post.file_upload.url}}" type="button" class="btn btn-secondary" role="button" download>
                                Download:
                                {% if post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                                <i class="fa-solid fa-file-excel"></i>
                                {% elif post.get_file_ext == 'csv' %}
                                <i class="fa-solid fa-file-csv"></i>
                                {% elif post.get_file_ext == 'doc' or post.get_file_ext == 'docx'%}
                                <i class="fa-solid fa-file-word"></i>
                                {% else %}
                                <i class="fa-solid fa-file"></i>
                                {% endif %}
                                {{post.get_file_name}}
                            </a>
                            {% endif %}
                        </section>

                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body" id="comment-area">
                                <!-- Comment form-->
                                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-4">
                                    <!-- Parent comment-->
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                        <!-- Child comment 1-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                            </div>
                                        </div>
                                        <!-- Child comment 2-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                When you put money directly to a problem, it makes a good headline.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single comment-->
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
{% endblock %}