<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Do it Django</title>
    <link href="{%static 'blog/bootstrap5/css/bootstrap.min.css' %} " rel="stylesheet" media="screen">
    <link href="{%static 'single_pages/css/landing.css' %} " rel="stylesheet" media="screen">
    <script src="https://kit.fontawesome.com/a08faffd77.js" crossorigin="anonymous"></script>
</head>
<body>
{% include 'blog/navbar.html' %}

<section>
    <div class="container">
        <div class="row justify-content-between mt-5">
            <div class="col-lg-6 text-light">
                <h1>부산 디지털 스마트 아카데미</h1>
                <br>
                <p>파이썬 Django로 블로그 만들기</p>
            </div>
            <div class="col-lg-5">
                <h2 class="text-light">Blog - Recent posts</h2>
                {% for post in recent_posts %}
                    <div class="card mt-1">
                        <div class="card-body">
                            <h6><a href="{{post.get_absolute_url}}" class="text-decoration-none text-black">
                                {{post.title}}</a></h6>
                            <span class="badge rounded-pill bg-light text-black float-end">
                                <img class="mr-1 rounded-circle" width="20px" src="{{post.get_avatar_url}}" alt="{{post.author}}">
                                {{post.author.username}}
                                &nbsp;&nbsp;
                                {{post.created_at}}
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<div class="fixed-bottom">
    {% include 'blog/footer.html' %}
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>

</html>